* {
  font-family: 'Inter', sans-serif;
  font-size: 23px;
  color: white;
  

}

.logo {
  width: 130px;
  margin-left: 250px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.image-container {
  background-image: url(/img\ WP/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin:0
}

.text {
  text-align: left;
  margin-left: 250px;
  font-weight: 400;
}

h1 {
  font-size: 80px;
  line-height: 0.8;
  font-family: 'Outfit', sans-serif;
}

.spanH1 {
  font-size: 90px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  font-family: 'Outfit', sans-serif;
}
h3 {
  text-align: left;
  margin-left: 250px;
  margin-bottom: 1px;
  color: #d20094;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Outfit', sans-serif;
}

.list {
  text-align: left;
  font-size: 23px;
  line-height: 1.5;
  margin-top: 3em;
}

.listSpan {
  font-weight: 600;
}

button {
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  width: 220px;
  height: 65px;
  margin-left: 200px;
  color: black;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  background-color: #00ffff;
  border: 1px solid #00ffff;
  box-shadow: 1px 1px 10px 13px #00ffff;
  -webkit-box-shadow: 4px -3px 54px -2px #00ffff;
  -moz-box-shadow: 4px -3px 54px -2px #00ffff;
  -o-box-shadow: 4px -3px 54px -2px #00ffff;
}

/* button:active {
  border: 3px solid #00ffff;
  color: #00ffff;
  box-shadow: 1px 1px 10px 13px #00ffff;
  -webkit-box-shadow: 4px -3px 54px -2px #00ffff;
  -moz-box-shadow: 4px -3px 54px -2px #00ffff;
  -o-box-shadow: 4px -3px 54px -2px #00ffff;
} */

.buttonLink {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.p2 {
  font-size: 20px;
}

#checkboxWP {
  margin-left: 250px;
  margin-top: 80px;
  margin-bottom: -2px;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid white;
  appearance: none;
}

#checkboxWP:checked {
  background-color: #00ffff;
  border: 1px solid #00ffff;
  box-shadow: 1px 1px 10px 13px #00ffff;
  -webkit-box-shadow: 4px -3px 54px -2px #00ffff;
  -moz-box-shadow: 4px -3px 54px -2px #00ffff;
  -o-box-shadow: 4px -3px 54px -2px #00ffff;
}

.labelWP {
  font-size: 20px;
  font-weight: 600;
}

.inline{
  display: inline-block;
}
