* {
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
h3 {
  color: #d20094;
  font-size: 30px;
}
button {
  width: 200px;
  height: 55px;
}
.p2 {
  font-size: 20px;
}

.button {
  margin-left: 5em;
}
