* {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
h3 {
  color: darkorchid;
  font-size: 30px;
}
button {
  width: 200px;
  height: 55px;
}
.p2 {
  font-size: 20px;
}
#progress-bar-container {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #000;
}

#progress-bar {
  height: 20px;
  width: 0%;
  background-color: #00bfff;
  transition: width 1s linear;
}

.red {
  font-style: italic;
  color: red;
}
#countdown {
  position: relative;
  margin-left: 80%;
  margin-top: 100px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: rgb(255, 0, 0);
  display: inline-block;
  line-height: 10px;
}
z svg {
  position: relative;
  margin-top: 110px;
  right: 0;
  height: 40%;
  width: 40%;
  transform: rotateY(-180deg) rotateZ(-90deg);
  border-radius: 150px;
}

svg circle {
  margin-top: 0px;
  margin-left: 90%;
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: rgb(5, 247, 255);
  fill: none;
  animation: countdown 10s linear infinite forwards;
  border-radius: 150px;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}
