* {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
h3 {
  color: darkorchid;
  font-size: 30px;
}
button {
  width: 200px;
  height: 55px;
}
.p2 {
  font-size: 20px;
}
#progress-bar-container {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #000;
}

#progress-bar {
  height: 20px;
  width: 0%;
  background-color: #00bfff;
  transition: width 1s linear;
}
