* {
  text-align: center;
}
h1 {
  font-size: 60px;
}
h2 {
  color: white;
  font-size: 60px;
  font-family: Outfit;
}
label {
  color: white;
  font-family: Inter;
  font-size: 30px;
}
h3 {
  color: rgb(176, 50, 204);
  font-size: 30px;
}

.radio {
  padding: 2%;
  display: inline-block;
  border: 1px solid rgba(84, 84, 84, 0.313);
  border-radius: 10px;
}
input[type="radio"] {
  opacity: 0;
}
.radio:hover {
  background-color: rgba(106, 5, 157, 0.192);
}
.selected {
  background-color: rgba(0, 234, 255, 0.381);
}
button {
  margin-left: 5%;
  width: 100px;
  height: 55px;
  background-color: rgba(95, 95, 95, 0.086);
  color: white;
  border-radius: 10px;
  border: 1px solid;
}
button:hover {
  background-color: rgba(212, 0, 255, 0.18);
}
.p2 {
  font-size: 20px;
}

body {
  background-image: url("/assets/img/bg.jpg");
  background-size: cover;
}
.red {
  font-style: italic;
  color: red;
}
#countdown {
  position: relative;
  margin-left: 80%;
  margin-top: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: rgb(255, 0, 0);
  display: inline-block;
  line-height: 10px;
}
z svg {
  position: relative;
  margin-top: 110px;
  right: 0;
  height: 40%;
  width: 40%;
  transform: rotateY(-180deg) rotateZ(-90deg);
  border-radius: 150px;
}

svg circle {
  margin-top: 0px;
  margin-left: 90%;
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: #00ffff;
  fill: none;
  animation: countdown 10s linear infinite forwards;
  border-radius: 150px;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

#hard {
  width: 25%;
  margin-top: 5%;
  font-size: 30px;
}
